<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/login" method="post">
    <fieldset>
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="password">Mot de passe :</label>
        <input type="text" id="password" name="password">
        <br>
        <button type="submit">Login</button>
    </fieldset>
</form>

<p th:text="'Hello, ' + ${name} + '!'" />

</body>
</html>